service: producer
frameworkVersion: '2'

plugins:
  - serverless-plugin-git-variables
  
provider:
  name: aws
  runtime: nodejs12.x
  stage: ${opt:stage, 'dev'}
  region: us-east-1
  memorySize: 128
  timeout: 3

functions:
  index:
    handler: index.handler
    name: producer
    memorySize: 128
    timeout: 3
    events:
      - http:
          method: GET
          path: /
    destinations:
      onSuccess: ${env:queue_arn}
        