on: [push]

jobs:
  build:
    name: Npm install & build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 14.x
      uses: actions/setup-node@v2
      with:
        node-version: 14.x
    - run: npm install
      
    - name: list
      run: |
          ls
      shell: bash
    
  upload-s3:
    runs-on: ubuntu-latest
    name: A job to upload files to s3
    steps:
      - uses: actions/checkout@v1
      - name: Upload S3
        uses: lucasvillatore/action-upload-to-s3@teste
        with:
          aws-access-key: 'AKIAZZHBJ2OC64CPEZ6K'
          aws-secret-key: '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'
          bucket-s3: 'lucas-block-bucket-teste'
          region: 'us-east-1'
