name: Deploy production

on:
  push:
    branches:
      - main

jobs:

  deploy:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout step
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-region: us-east-1
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    
    - name: Setup env variables
      run: |
        export queue_arn=arn:aws:sqs:us-east-1:672634884997:producer_queue
        printenv 

        npm -g install serverless@2.72.2

        serverless plugin install --name serverless-plugin-git-variables
        serverless plugin install --name serverless-offline
    - name: Deploy AWS
      uses: serverless/github-action@v3
      with:
        args: deploy
