on: [push]

jobs:
  upload-s3:
    runs-on: ubuntu-latest
    name: A job to upload files to s3
    steps:
      - name: Upload S3
        uses: lucasvillatore/action-upload-to-s3@v1
        with:
          aws-access-key: 'AKIAZZHBJ2OC64CPEZ6K'
          aws-secret-key: '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'
          bucket-s3: 'region'
          region: 'us-east-1'
